.galleryComponent {}

.galleryText {
  width: 100%;
  margin: 30px auto;
  text-align: justify;
  padding-bottom: 50px;
}

.galleryYear {
  margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
  .galleryComponent {
    grid-template-columns: 1fr;
  }

  .galleryText {
    width: 100%;
    padding: 10px;
  }

  .overviewBlock-portraitright {
    margin: 15px 0 0 0;
  }

  .overviewBlock-portraitleft {
    margin: 15px 0 0 0;
  }
}


@media screen and (max-width: 500px) {
  .galleryComponent {
    display: block;
    margin: 0;
    max-width: 100%;
  }
}